@using BankaOtomasyon.Models.EntityFramework
@model List<Kullanici>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Yeni Kullanici","Yeni",null,new { @class = "btn btn-success" })

<h2>Kullanıcı Listesi</h2>


<table class = "table table-bordered" id="TblKullanicilar">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>E mail</th>
            <th>Tc Kimlik</th>
            <th>Cep No</th>
            <th>Ev No</th>
            <th>Adres</th>
            <th>Doğum Tarihi</th>
            <th>Kullanıcı Tipi</th>
            <th>Güncelle</th>
            <th>Sil</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var Kullanici in Model)
        {
            <tr>
                <td>@Kullanici.Ad</td>
                <td>@Kullanici.Soyad</td>
                <td>@Kullanici.Email</td>
                <td>@Kullanici.TcKimlik</td>
                <td>@Kullanici.CepNo</td>
                <td>@Kullanici.EvNo</td>
                <td>@Kullanici.Adres</td>
                <td>@Kullanici.DogumTarihi.Value.ToString("dd-MM-yyyy")</td>
                <td>@Kullanici.KullaniciTipleri.KullaniciTipAdi</td>
                <td>@Html.ActionLink("Güncelle", "Guncelle", new { id = Kullanici.Id }, new { @class = "btn btn-success" })</td>
                <td>@Html.ActionLink("Sil", "Sil", new { id = Kullanici.Id }, new { @class = "btn btn-danger" })</td>  
            </tr>
        }
    </tbody>
</table>